.question {
  padding: 20px;
}

#submit {
  margin-left: 50%;
  margin-right: 50%;
}

form {
  padding-left: 20px;
}

h1 {
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-decoration-style:  double;
}

.container {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border: solid black 25px;
  background-color: white;
  width: auto;
}

.results {
  display: none;
}

#plural {
  display: none;
}

body {
  border: solid lightgrey 50px;
}

footer {
  text-align: right;
  font-size: 10px;
}

.c-sharp img {
  width: 40%;
}

.result img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
}

.result {
  border: solid black 5px;
  margin-top: 10px;
}

.result p {
  font-size: 20px;
}

.col-md-6 {
  padding: 100px;
}
